.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding: 60px 25px;
    align-items: center;
}


.contact-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information {
    display: flex;
    align-items: center;
    gap: 15px;

}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a:first-child {
    padding-left: 0px;
}

.contact-form {
    background-color: var(--secondary-color1);
    border: 1px solid var(--secondary-color3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 350px;
    padding: 15px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
}

.contact-form textarea {
    height: 80px;
}

@media (max-width: 800px) {


    .contact-form input,
    .contact-form textarea {
        width: 200px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        align-self: flex-start;
        margin-top: 30px;
    }

}

@media (max-width: 400px) {

    .contact-form input,
    .contact-form textarea {
        width: 110px;
    }

    .icon-info {
        height: 15px;
        width: 15px;
    }
}