footer {
    background-color: var(--primary-color3);
    font-family: "Nunito sans", "serif";
}


.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border-bottom: 1px solid var(--color-gray);
    gap: 20px;
}

.footer_logo p {
    padding: 10px 0px;
    color: var(--txt-color-white);

}

.footer_list {
    display: flex;
    gap: 0px 20px;
    flex-flow: row wrap;
    padding: 0px 10px;


}

.footer_list li a {
    color: var(--txt-color-white);
    padding: 15px 0px;
}

.footer_list li a:hover {
    color: var(--primary-color1);
}

.footer_socialmedia {
    display: flex;
    gap: 30px;
}

.info-rights {
    text-align: center;
    padding: 20px 0px;
    background-color: var(--marrom-escuro);
    color: var(--color-gray);
    letter-spacing: 4px;
}

@media (max-width: 1000px) {
    .footer_container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .footer_list {
        justify-content: center;
    }

    .footer_logo {
        max-width: 150px;
    }

    .icon_socialmedia {
        width: 20px;
        height: 20px;
    }
}