footer {
    background-color: var(--primary-color3);
    font-family: "Nunito sans", "serif";
}

.footer_principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border-bottom: 1px solid var(--color-gray);
}

.footer_logo p {
    font-size: 1.2rem;
    padding: 10px 0px;
    color: var(--txt-color-white);
}

.footer_list {
    display: flex;
    gap: 0px 20px;

}

.footer_list li a {
    color: var(--txt-color-white);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.125;
    padding: 20px 0px;
}

.footer_socialmedia {
    display: flex;
    gap: 30px;
}

.info {
    text-align: center;
    padding: 20px 0px;
    background-color: var(--marrom-escuro);
    color: var(--color-gray);
    letter-spacing: 4px;
}