footer {
    background-color: var(--primary-color3);

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    gap: 30px;
    padding: 30px 25px;
}

.footer_list {
    display: flex;
    gap: 10px;

}
.footer_list li a {
    transition: all 0.5s ease;
}

.footer_list li a:hover {
    color: var(--primary-color1);
    font-weight: bold;
}

.footer_socialmedia {
    display: flex;
    gap: 10px;
}

.info-rights {
    text-align: center;
    padding: 30px 10px;
    letter-spacing: 4px;
}

.svg-menu-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .footer_container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .footer_logo {
        max-width: 150px;
    }
    .svg-menu-mobile {
        display: block;
    }

    .footer_list {
        display: none;
    }
    .footer_navAtivado {
        display: block;
        width: 100px;
        background-color: var(--primary-color1);
        border: 1px solid var(--primary-color2);
        border-radius: 8px;
    }
    .footer_navAtivado li {
        margin: 15px 0px;
    }   
    .footer_navAtivado li a:hover {
        color: var(--primary-color3);
    }

    .icon_socialmedia {
        width: 20px;
        height: 20px;
    }

}