.footer-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border-top: 5px solid var(--marrom-escuro);
    background-color: var(--marrom-principal);
    color:var(--branco);
    padding: 10px 0px;
    font-family: Coiny;

}
.logo-footer {
    max-width: 250px;
    
}
.bloco-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container-footer-3 {
    display: flex;
    gap: 5px;
}

.info {
    text-align:center;
    padding: 15px 0px;
    background-color: var(--marrom-escuro);
    color: var(--branco);
    letter-spacing: 4px;
}
