.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Coiny;
    border-top: 5px solid #462316;
    background-color: #6f3723;
    color: white;
    padding: 10px 0px;

}
.logo-footer {
    width: 250px;
    height: 60px;
}
.container-footer-1 {
    width: 360px;
}
.container-footer-2 {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-footer-3 {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    text-align:center;
    padding: 15px 0px;
    background-color: #462316;
    color: white;
    letter-spacing: 4px;
}