.header_container {
    border-top: 3px solid #86200D;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffb0bb;

}

.header_logo {
    min-width: 100px;
    max-width: 250px;

}
.header_nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.header_container ul li a {
    color: white;
    text-shadow: 1px 1px #86200D;
    padding: 0 10px;

}
.header_button {
    width: 130px;
    height: 40px;
    background-color: #e47683;
    color: white;
    border: none;
    border-radius: 3px;
    
}

.header_button:hover {
    transition: 1s;
    background-color: #86200D;
}