.svg-menu-mobile {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    padding: 30px 25px;
}

.header_nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    


}
.header_nav li a {
    transition: all 0.5s ease;
}

.header_nav li a:hover {
    color: var(--primary-color1);
    font-weight: bold;
}


@media (max-width: 850px) {
    .header-container {
        flex-direction: column;

    }
}

@media (max-width: 480px) {
    .header_logo {
        max-width: 150px;
    }

    .header_nav {
        display: none;
        
    }

    .svg-menu-mobile {
        display: block;
        cursor: pointer;
    }

    .header_navAtivado {
        display: block;
        width: 100px;
        background-color: var(--secondary-color1);
        border: 1px solid var(--secondary-color2);
        border-radius: 8px;

    }

    .header_navAtivado li {
        margin: 15px 0px;
    }
}