.header_container {
    border-top: 3px solid var(--vermelho);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--rosa-principal);

}

.header_logo {
    max-width: 250px;

}

.header_nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.header_container ul li a {
    color: var(--branco);
    text-shadow: 1px 1px var(--vermelho);
    padding: 0 10px;

}

.header_button {
    width: 40px;
    height: 40px;
    background-color: var(--vermelho);
    border: none;
    border-radius: 50px;

}