.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    padding: 30px 25px;
}

.header_nav {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.header_nav li a:hover {
    color: var(--primary-color1);
    font-weight: bold;
}


@media (max-width: 850px) {
    .header-container {
        flex-direction: column;

    }
}

@media (max-width: 480px) {
    .header_logo {
        max-width: 150px;
    }

    .header_nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: 100%;
    }

}