header {
    background-color: var(--bg1);
    font-family: "Nunito Sans", serif;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header_logo {
    max-width: 250px;
}

.header_nav {
    display: flex;
    justify-content: center;
    gap: 0px 21px;
    flex-flow: row wrap;

}

.header_container ul li a {
    color: var(--txt-color-black);
    font-weight: 500;
    font-size: var(--txt-size-primary1);
    line-height: 1.125;
    padding: 15px 0px;
}

.header_container ul li a:hover {
    color: var(--primary-color1);
}

.header_order {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px 30px;
}

.header_button {
    background-color: var(--primary-color1);
    color: var(--txt-color-white);
    padding: 10px 25px;
    font-size: var(--txt-size-secondary1);
    text-transform: uppercase;
    letter-spacing: 2px;

}

.header_button:hover {
    background-color: var(--secondary-color3);
}

@media (max-width: 1000px) {
    .header_container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .header_container ul li a {
        font-size: var(--txt-size-primary2);
    }

    .header_button {
        font-size: var(--txt-size-secondary2);
        padding: 10px 10px;
    }

    .header_logo {
        max-width: 150px;
    }

    .icon_socialmedia {
        width: 20px;
        height: 25px;
    }
}