.container-contato{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.bloco-container-contato {
    border: 2px solid var(--rosa-principal);
    border-radius: 2px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bloco-container-contato i {
    padding: 10px;

}
.bloco-container-contato p {
    padding: 10px;
    font-size: 20px;
    font-family: "Coiny", system-ui;
    color: var(--vermelho);
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 150px;
    gap: 10px;
    padding: 15px;
    
}
.formulario-contato label {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #86200D;
}
.formulario-contato input {
    height: 60px;
    border: none;
    background-color: rgb(255, 243, 243);
}
.formulario-contato button {
    height: 60px;
    background-color: var(--rosa-escuro);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    text-shadow: 1px 1px var(--vermelho);
    cursor: pointer;
}
.formulario-contato button:hover {
    transition: 1s;
    background-color: var(--vermelho);
}
