body {
    background-color: #FDF0CB;
}
.container1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}
.bloco {
    border: 2px solid #ffb0bb;
    border-radius: 2px;
    width: 200px;
    height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloco i {
    padding: 10px;

}
.bloco p {
    padding: 10px;
    font-size: 20px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #86200D;
}
.container2 {
    display: flex;
    flex-direction: column;
    margin: 30px 150px;
    gap: 10px;
    padding: 15px;
    background-color: whitesmoke
}
.container2 label {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #86200D;
}
.container2 input {
    height: 60px;
    border: none;
}
.container2 button {
    height: 60px;
    background-color: #e47683;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-shadow: 1px 1px #86200D;
    cursor: pointer;
}
.container2 button:hover {
    transition: 1s;
    background-color: #86200D; 
}