.faq h2 {
    text-align: center;
}

.list-faq {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question-faq {
    font-size: var(--txt-size1);
    color: var(--txt-color-black);
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0px 5px;
}

.question-faq:hover {
    color: var(--primary-color2);
}

.answer-faq {
    font-size: var(--txt-size3);
    color: var(--txt-color-black);
    padding: 10px 0px;
    text-align: left;
}

.closed {
    display: none;
}

@media (max-width: 800px) {
    .question-faq {
        font-size: var(--txt-size2);

    }

    .button-faq {
        width: 10px;
        height: 10px;
    }
}

@media(max-width: 400px) {
    .question-faq {
        font-size: var(--txt-size3);

    }

    .answer-faq {
        font-size: var(--txt-size4);
    }
}