.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;

}

.about p {
    text-align: left;
}

.about div h3 {
    color: var(--primary-color2);
}

.about-qualities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;

}


.about video {
    height: 500px;
    grid-row: 1/5;
    justify-self: start;

}

@media (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about h2 {
        order: -1;
    }

    .about video {
        height: 400px;
        order: -1;
    }
}

@media (max-width: 400px) {
    .about video {
        height: 250px;
    }
}