@import "./global/resets.css";
@import "./global/colors.css";
@import "./global/typography.css";
@import "./global/components.css";

@import "./header.css";
@import "./footer.css";

@import "./index/introduction.css";
@import "./index/categories.css";
@import "./index/about.css";
@import "./index/frequentlyaskedquestions.css";
@import "./index/contact.css";

@import "./about-us/about-us-main.css";
@import "./about-us/about-us-products.css"