.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 50px;
    padding: 60px 25px;
}

.about-texts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-texts a {
    place-self: start;
}

.about-qualities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;

}

.about-qualities div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1000px) {
    .about {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 25px;
    }

    .about-texts {
        align-items: center;
        max-width: 60ch;
    }

    .about-texts p {
        text-align: center;
    }

    .about-texts a {
        place-self: center;
    }

    .about-qualities div {
        align-items: center;
    }

}

@media (max-width: 480px) {
    .about div video {
        height: 200px;
        width: 200px;
    }
}