.bg-faq {
    background-color: var(--secondary-color1);
}

.faq {
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.faq h2 {
    text-align: center;
}

.list-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.list-faq div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.question-faq {
    display: flex;
    align-items: center;
    gap: 0px 15px;
    transition: all 0.5s ease;
}

.question-faq:hover {
    color: var(--primary-color2);
}

.question-faq::after {
    content: "";
    width: 20px;
    height: 15px;
    background: url(../../Resources/button-down.svg);
}
.question-faq[aria-expanded="true"]::after {
    background: url(../../Resources/button-up.svg);
}

.answer-faq {
    padding: 10px 0px;
    max-width: 60ch;
    text-align: center;
    display: none;
}

.answer-faq.opened {
    display: block;
}


@media (max-width: 800px) {
    .button-faq {
        width: 10px;
        height: 10px;
    }
}