:root {
    --primary-color0: #C94D59;
    --primary-color1: #B5323E;
    --primary-color2: #A51C28;
    --primary-color3: #55050D;
    --secondary-color1: #fef0f7;
    --secondary-color2: #FF90AA;
    --secondary-color3: #DB5E73;
    --txt-color-black: #2E2424;
    --txt-color-white: #E6E6E6;
    --color-gray: #A8A8A8;
    --bg1: #FAFAFA;
    --bg2: #C4C4C4;

}

.txt-color-black {
    color: var(--txt-color-black);
}

.txt-color-white {
    color: var(--txt-color-white);
}

.primary-color0 {
    color: var(--primary-color0);
}

.primary-color1 {
    color: var(--primary-color1);
}

.primary-color2 {
    color: var(--primary-color2);
}

.primary-color3 {
    color: var(--primary-color3);
}

.secondary-color1 {
    color: var(--secondary-color1);
}

.secondary-color2 {
    color: var(--primary-color2);
}

.secondary-color3 {
    color: var(--secondary-color3);
}

.color-gray {
    color: var(--color-gray);
}