.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 25px;
}

.link-click {
    background-color: var(--primary-color1);
    color: var(--txt-color-white);
    font: var(--txt-p1-bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding: 10px 30px;
}

.link-click:hover {
    background-color: var(--secondary-color3);
}

@media (max-width: 800px) {
    .link-click {
        font-size: var(--txt-size4);
    }
}

@media (max-width: 400px) {
    .link-click {
        width: 90px;
        padding: 5px 15px;
    }

    .icon-socialmedia {
        width: 20px;
        height: 25px;
    }
}