.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;

}

.link-click {
    background-color: var(--primary-color1);
    color: var(--txt-color-white);
    font: var(--txt-p1-bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    padding: 10px 30px;
    max-width: max-content;
    transition: all 0.5s ease;
}

.link-click:hover {
    background-color: var(--secondary-color3);
}

@media (max-width: 480px) {
    .link-click {
        padding: 5px 15px;
        font: var(--txt-p2-bold);
    }

    .icon-socialmedia {
        width: 20px;
        height: 25px;
    }
}