* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg1);
}


a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

textarea {
    resize: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input[type="checkbox"]{ 
    border-radius: 8px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}