.about-us-int-bg {
    background: no-repeat url(../../Resources/about-us-int-bg.png);
    background-size: cover;
    max-width: 100%;
    height: 277px;
}

.bg-about-us-info {
    background: no-repeat url(../../Resources/bg-whitebakery.png);
    background-size: cover;
}

.bg-about-us-info .container {
    padding: 0px 25px;
}

.about-us-h1 {
    color: var(--primary-color2);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.about-us-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 60px;
}

.about-us-info-txts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-info-txts h2,
.about-us-products h2 {
    color: var(--primary-color2);
}

@media (max-width: 800px) {
    .about-us-int-bg {
        height: 177px;
    }

    .about-us-info {
        display: flex;
        flex-direction: column;
    }

    .about-us-info-photo img {
        width: 311px;
        height: 295px;
    }

    .about-us-info-txts h2 {
        text-align: center;
    }
}