.bg-about-us-evaluation {
    background-color: var(--secondary-color1);
}

.about-us-evaluation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 60px 25px;
    gap: 30px;
}

.about-us-evaluation-txts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-evaluation-txts h2 {
    color: var(--primary-color2);
}



.about-us-evaluation img {
    justify-self: end;
}

@media (max-width: 700px) {
    .about-us-evaluation {
        display: flex;
        flex-direction: column;
    }

    .about-us-evaluation img {
        width: 390px;
        height: 295px;
    }
}